<footer class="footer">
    <div class="container">
        <a class="copy" href="https://www.sparktake.com/" title="Sparktake, Inc." rel="home">&copy; Sparktake, Inc.</a>
        <div id="footer-links">
            <a href="/about/">About</a>
            <div class="social">
                <a class="facebook" href="https://facebook.com/sparktake">
                    <span class="screen-reader-only">Facebook</span>
                </a>
                <a class="instagram" href="https://www.instagram.com/sparktake_app">
                    <span class="screen-reader-only">Instagram</span>
                </a>
                <a class="twitter" href="https://twitter.com/sparktake_app">
                    <span class="screen-reader-only">Twitter</span>
                </a>
            </div>
        </div>
    </div>

</footer>