{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="logo_image" src="{% static 'img/sparktake_logo_w.png' %}" />
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">                
                <li><a href="{% url 'posts:list' %}">Posts</a></li>
                {% comment %} <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    
                    </ul>
                </li> {% endcomment %}
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="search-field" type="text" class="form-control" placeholder="Search" name="q">
                </div>
                <button id="search-submit" type="submit" class="btn btn-default">Submit</button>
            </form>
            

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li id="user-name"><a href="{% url 'accounts:profile' request.user.username %}">{{ request.user.get_full_name }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 5px">
                        <img src="{{ request.user.profile.avatar }}" style="width: 50px; vertical-align: middle;" class="img-responsive img-circle align-middle">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <p id="greeting" style="padding-left: 10px;">Hello! {{ request.user.first_name }}</p>
                        <li><a href="{% url 'posts:create' %}">Create new post</a></li>
                        <li><a href="{% url 'accounts:profile' request.user.username %}">Settings</a></li>
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <form class='navbar-form' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
                        <div class='form-group login-form-input'>
                            <input type='text' class='form-control' name='username' placeholder='Username'/>
                        </div>
                        <div class='form-group login-form-input'>
                            <input type='password' class='form-control' name='password' placeholder='Password'/>
                        </div>
    <!--                     <div class="form-check login-form-input">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Remember me
                            </label>
                        </div> -->
                        <button type='submit' class='btn btn-default btn-block'>Login</button>
                        </form>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item-highlight" href="#">Sign up</a></li>
                        <li><a class="dropdown-item-highlight" href="{% url 'auth_password_reset' %}">Forgot password?</a></li>
                    </ul>
                    
                </li> 
                {% endif %}
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                    
                {% endif %}
            </ul> 
        </div><!--/.navbar-collapse -->
    </div>
</nav>

