{% extends "base.html" %}
{% load staticfiles %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title}} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
<li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}

{% block theme %}
{{ form.media }}
	<link rel="stylesheet" href='{% static "css/quill.core.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/editor.css" %}'>
	<link rel="stylesheet" href='{% static "css/post_detail.css" %}'>
{% endblock %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}
{% if instance.image %}
<img src='{{ instance.image }}' class='img-responsive feature'/>
{% endif %}
<div class="container">
	<div class='col-sm-8 col-sm-offset-2'>
		<div id="info">
			<h1><b>{{ title }}</b><br><small>{{ instance.publish }}</small></h1>
			<h2>last updated: {{ instance.updated|timesince }}</h2>
			<h3>
				<img src="{{ instance.user.profile.avatar }}" id="avatar" class="img-circle"/>
				<a href="{% url 'accounts:profile' instance.user.username %}">
					{{ instance.user.get_full_name}}
				</a>
			</h3>

			<small>Estimated read time:{% if instance.read_time <= 1 %} <1 minute {% else %} {{ instance.read_time }} minutes {% endif %}</small>

			<p>
				{% if request.user == instance.user %}
				<h4><a href='{{ instance.get_absolute_url }}edit/'>Edit this post</a></h4>
				{% endif %}
				<br>
				<!--  	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_url }}/">
				Facebook
				</a>

				<a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_url }}">
				Twitter
				</a>

				<a href='https://plus.google.com/share?url={{ request.build_absolute_url }}'>
				Google Plus
				</a>

				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_url }}&title={{ instance.title }}&summary={{ share_string }}%20{{ request.build_absolute_url }}">
				Linkedin
				</a>

				<a href="http://www.reddit.com/submit?url={{ request.build_absolute_url }}&title={{ instance.title }}">Reddit</a> -->
			</p>
		</div>

		<div class='col-sm-12'>
			<div id='editor-container'></div>
	<!-- 		<div class='post-detail-item'>{{ instance.get_markdown  }}</div> -->

			Post ID: {{ instance.id }}
			</br>
			<div class="fb-like" data-href="{{ request.build_absolute_url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			<hr>

			<div>
	{% for comment in comments %}

				<blockquote>
					<p>
						<!-- Post name: {{ comment.content_object }}<br> -->{{ comment.content }}
					</p>
					<footer class="blockquote-footer"> {{ comment.user.get_full_name }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}<a href='{{ comment.get_absolute_url }}'>Thread</a></footer>

					<div class='comment-reply'>
	{% for child_comment in comment.children %}
						<blockquote>
							<p>
								<!-- Post name: {{ comment.content_object }}<br> -->{{ child_comment.content }}
							</p>
							<footer class="blockquote-footer"> {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
						</blockquote>
	{% endfor %}

	{% if request.user.is_authenticated %}
						<form method='POST' action='.'>{% csrf_token %}{{ comment_form|crispy }}
							<input type='hidden' name='parent_id' value='{{ comment.id }}'>
							<input type='submit' value='Reply' class='btn btn-default'> 
						</form>
	{% else %}
						<p>Login is required</p>
	{% endif %}
					</div>
				</blockquote>

	{% endfor %}
				<hr>
				<p class='lead'>Comments</p>
				{% if request.user.is_authenticated %}
				<form method='POST' action='.'>{{ comment_form|crispy }} {% csrf_token %}
					<input type='submit' value='Post comment' class='btn btn-default'> 
				</form>
				{% else %}
				<p>You must login to comment on the post</p>
				{% endif %}
	<!-- 			{{ instance.comment_set.all }} -->
			</div>

			<!-- <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="5"></div> -->
		</div>
	</div>
</div>

<script src='{% static "js/read_only_quill.js" %}'></script>
<script>
	if (typeof {{ instance.content_display|safe }} !== 'undefined'){
		quill.setContents({{ instance.content_display|safe }});
	}
	quill.enable(false);
</script>

{% endblock %}