{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-success">
				<div class="panel-heading">{% trans "Your account is now activated!" %}</div>
				<div class="panel-body">You will be redirect to the front page in <span id="sec">5</span> seconds</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			sec = 5
			setInterval(function(){
				sec = sec - 1;
				$("#sec").html(sec);
			}, 1000);

			setTimeout(function(){
				window.location = "/";
			}, 5000);
		})
	</script>
{% endblock %}