    <div class="card">
        {% if post.image %}
        <div>
            <img src='{{ post.image }}' class="feature"/>
        </div>
        {% endif %}
        <div class="postInfo">
            <div class="title">
                <h3>
                    <a href= '{{ post.get_absolute_url }}'>
                        <p class="titleText" data-toggle="tooltip" data-placement="top" title="{{ post.title }}" data-delay='{"show":"1000", "hide":"1000"}'>{{ post.title }}</p>
                    </a>
                	<p><small>{{ post.publish }}</small></p>
                </h3>
            </div>
            <div class="author">
                <img src="{{ post.user.profile.avatar }}" class="posticon"></img>
                <a href="{% url 'accounts:profile' post.user.username %}">
                    <span class="author">{{ post.user.get_full_name }}</span>
                </a>
            </div>
        </div>
    </div>