.login-form-input {
    margin-top:12px;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 1000px;
}

@media only screen and (max-width:767px) {
    #search-submit {
        width: 100%;
    }

    #user-name {
        display: none;
    }

    #greeting {
        display: none;
    }
}

/* .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-weight: 400;
} */
/* .dropdown-item-highlight {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #18bc9c !important;
    white-space: nowrap;
  } */