#sidebar {
    width: 250px;
    position: fixed;
    top: 60.433px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #395470;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2c3e50;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #b4bcc2;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #b4bcc2;
}
#sidebar ul li a:hover {
    color: #395470;
    background: #b4bcc2;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #b4bcc2;
    background: #2c3e50;
}

#sidebarCollapse {
	margin-top: 80px;
}

#sidebar-toggle {
	padding-right: 15px;
	padding-left: 15px;
}

#sidebar-sub-header {
	font-size: 24px;
	padding: 15px;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #395470;
}
a.article, a.article:hover {
    background: #2c3e50 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media only screen and (max-width:767px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px) !important;
    }
    #sidebarCollapse span {
        display: none;
    }
}
